apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: dazakharova/todo-backend:1.3
          env:
            - name: PORT
              value: "4001"
            - name: DATABASE_URL
              value: "postgres://todo:todopassword@postgres:5432/todo?sslmode=disable"


