apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: dazakharova/todo-backend:1.9
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
          env:
            - name: PORT
              value: "4001"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DATABASE_URL
            - name: NATS_URL
              value: nats://my-nats.default.svc.cluster.local:4222
          startupProbe:
            httpGet:
              path: /healthz
              port: 4001
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 30  
          livenessProbe:
            httpGet:
              path: /healthz
              port: 4001
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: 4001
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3        



