apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: dazakharova/ping-pong:1.6
          env:
            - name: PORT
              value: "3001"
            - name: DATABASE_URL
              value: "postgres://pingpong:pingpongpassword@postgres:5432/pingpong"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3001
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3