apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
      - name: shared-status-volume
        persistentVolumeClaim:
          claimName: shared-status-claim
      containers:
        - name: ping-pong
          image: dazakharova/ping-pong:1.1
          env:
            - name: PORT
              value: "3001"
          volumeMounts:
            - name: shared-status-volume
              mountPath: /usr/src/app/data