deploymentMode: SimpleScalable

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  ingester:
    chunk_encoding: snappy

  querier:
    max_concurrent: 2

  pattern_ingester:
    enabled: true

  limits_config:
    allow_structured_metadata: true
    volume_enabled: true

  storage:
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    s3:
      endpoint: minio.loki-stack.svc.cluster.local:9000
      accessKeyId: minio
      secretAccessKey: minio123
      s3ForcePathStyle: true
      insecure: true

backend:
  replicas: 1
read:
  replicas: 1
write:
  replicas: 1

minio:
  enabled: true

gateway:
  service:
    type: ClusterIP
