apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: random-image
          emptyDir: { }
      containers:
        - name: todo-app
          image: dazakharova/todo-app:1.9
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
            - name: random-image
              mountPath: /usr/src/app/cache
          env:
            - name: PORT
              value: "5001"
            - name: IMAGE_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: IMAGE_URL
            - name: IMAGE_TTL_SECONDS
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: IMAGE_TTL_SECONDS
            - name: CACHE_DIR
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: CACHE_DIR
            - name: IMAGE_FILE_NAME
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: IMAGE_FILE_NAME
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5001
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: 5001
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
